.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
  background: rgb(247, 249, 252);
  padding-top: 131px;
  padding-bottom: 131px;
  gap: 50px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact-info h1 {
  color: rgb(33, 31, 84);
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.98px;
  letter-spacing: 0%;
  text-align: left;
}

.contact-info p {
  color: rgb(110, 113, 145);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 30.01px;
  letter-spacing: 0%;
  text-align: left;
  margin: 36px 0 36px;
}

.contact-info h3 {
  color: rgb(33, 31, 84);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.01px;
  letter-spacing: 0%;
  text-align: left;
  margin: 86px 0 33px;
}

.contact-info span {
  color: rgb(110, 113, 145);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 30.01px;
  letter-spacing: 0%;
  text-align: left;
}

.contact-info button {
  margin-top: 31px;
  box-sizing: border-box;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 14px;
  color: rgb(33, 31, 84);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
  background: rgb(255, 255, 255);
  padding: 26px 39px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 16px;

  box-shadow: 0px 2px 6px 0px rgba(20, 20, 43, 0.04);
  background: rgb(255, 255, 255);
}

.service-form {
  background-color: white;
  padding: 85px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 673px; /* Adjust the width as needed */
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-bottom: 20px;
}

.input-field {
  /* Rectangle */
  width: 50%;
  height: 72px;
  box-sizing: border-box;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 16px;
  padding: 0 20px;
  box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
  background: rgb(255, 255, 255);
}

.textarea-group {
  margin-bottom: 20px;
}

.message-box {
  width: 100%;
  height: 144px; /* Match your design's height */
  box-sizing: border-box;
  border: 1px solid rgb(239, 240, 246);
  border-radius: 22px;

  box-shadow: 0px 2px 7px 0px rgba(20, 20, 43, 0.08);
  background: rgb(255, 255, 255);
  padding: 20px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 26px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 14px;
  background: rgb(0, 117, 255);
}

.submit-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
