/* Global styles */
header {
  background: #e9e2e2;
  padding: 20px 110px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.btnBurger {
  display: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  header {
    padding: 20px 50px;
  }

  .navbar .list {
    display: none; /* Hiding initially */
  }

  .navbar .show-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #e9e2e2;
    position: absolute;
    top: 84px; /* Adjusting based on header height */
    right: 0;
    width: 100%;
    height: auto;
    padding: 20px 110px;
  }
  .navbar .show-list li a {
    color: rgb(33, 31, 84);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.01px;
    letter-spacing: 0%;
    text-align: left;
  }
  .btnBurger {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
  }
}
